<div class="track-container">
    <div class="track-header">
        <div class="zoom-container">
            <img src="assets/images/zoom_in.png" (click)="onClickZoomIn()" alt="Icon">
            <img src="assets/images/zoom_out.png" (click)="onClickZoomOut()" alt="Icon">
        </div>
            <button class="play-btn" (click)="onClickPlayBtn()">Play</button>
    </div>
    <div class="ruler" [style.transform]="'scaleX(' + zoomIndex + ')'">
        <div class="ruler-marker" *ngFor="let marker of rulerMarkers">
            {{ marker }}
        </div>
    </div>
    <div *ngIf="draggedScene" class="scene-container" cdkDropList (cdkDropListDropped)="drop($event)">
        <div *ngFor="let scene of scenes" class="scene" cdkDrag [style.width]="calculateWidth(scene)">
            {{ scene?.name }}
        </div>
    </div>
    <div *ngIf="!draggedScene" class="scene-container">
        Drop scenes here!
    </div>
</div>

