<div class="track-container">
    <div class="track-header">
        <div class="zoom-container">
            <img src="assets/images/zoom_in.png" alt="Icon">
            <img src="assets/images/zoom_out.png" alt="Icon">
        </div>
        <button mat-button class="play-btn">
            <span class="btn-txt" (click)="mergeScenes()"> Play </span> 
        </button> 
    </div>
    <div class="ruler">
        <div class="ruler-marker" *ngFor="let marker of rulerMarkers">
            {{ marker }}
        </div>
    </div>
    <div *ngIf="draggedScene" class="scene-container" cdkDropList (cdkDropListDropped)="drop($event)">
        <div *ngFor="let scene of scenes" class="scene" cdkDrag [style.width]="calculateWidth(scene)">
            {{ scene?.name }}
        </div>
    </div>
    <div *ngIf="!draggedScene" class="scene-container">
        Drop scenes here!
    </div>
</div>
